<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>趋势</title>
	<link rel="stylesheet" type="text/css" href="../global/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../global/css/common.css">	
	<link rel="stylesheet" type="text/css" href="../global/css/global.css">
	<script type="text/javascript" src="../global/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../global/js/index.js"></script>
	<script type="text/javascript" src="../global/js/common.js"></script>
	<script type="text/javascript" src="../global/js/global.js"></script>
	<script type="text/javascript" src="../global/js/mousewheel.js"></script>
	<script>

	</script>
</head>
<body>
	<div class="header">
		<div class="wrap">
			<div class="head-top">
				<div class="contentW">
					<div class="conleft fl">
						<ul class="leftT">
						    <li class="webIco">
						    	<a class="Rico"></a>
						    </li>
							<li>
								<a href="" target="_blank">旧版入口</a>
							</li>
							<li>
								<a href="" target="_blank">POP高端趋势网</a>
							</li>
							<li>
								语言：<a href="" target="_blank">EN</a> / <a href="" target="_blank">한국어 </a>
							</li>
						</ul>
						<div class="allWeb">
						    <span class="sanjiao"></span>
							<ul class="leftlists">
							   <li><a href="" target="_blank"><em class="bag"></em>箱包</a></li>
							   <li><a href="" target="_blank"><em class="shoe"></em>鞋子</a></li>
							   <li><a href="" target="_blank"><em class="dec"></em>首饰</a></li>
							   <li><a href="" target="_blank"><em class="home"></em>家纺</a></li>
							   <li><a href="" target="_blank"><em class="guanw"></em>官网</a></li>
							   <li><a href="" target="_blank"><em class="jiangt"></em>POP趋势讲堂</a></li>
							</ul>
						</div>
					</div>					
					<div class="conright fr">
						<ul>
						    <li class="searchLi">
						    	<a><span class="sr"></span>搜索</a>
						    </li>
							<li>
								<a><span class="lg"></span>登录</a>
							</li>
							<li class="rgSearch">
								<a class="redRg"><span class="rg"></span>注册</a>
							</li>
						</ul>
					</div>
					<div class="searchIn fr">
					    <div class="searchL">
					        <a class="search-btn"></a>
					    	<input type="text" class="Itext" placeholder="查找服饰流行资讯"/>
					    </div>						
					</div>
				</div>				
			</div>
			<div class="head-nav" id="list-header">
				<div class="nav-wh"></div>
				<div class="nav-box">
				    <div class="contentW">
				        <div class="navLog fl">
				        	<img src="../global/images/smalllog.png"/>
				        </div>
				        <div class="navbigBox">
				        	<div class="navSx fl">
					    	   <a class="shaixuan">行业筛选<br/><span class="Sgray">SCREENING</span></a>
					    	   <span class="sxDown"></span>
					    	<div class="navshaixuan-list">
						        <span class="redjiant"></span>
								<ul class="small-fenlei">
									<li class="clearfix"><a class="on"><em>全部</em><span><input type="checkbox"/></span></a></li>
									<li class="clearfix"><a><em>男装</em><span><input type="checkbox"/></span></a></li>
									<li class="clearfix"><a><em>女装</em><span><input type="checkbox"/></span></a></li>
									<li class="clearfix"><a><em>童装</em><span><input type="checkbox"/></span></a></li>
								</ul>
								<ul class="big-fenlei">
									<li class="clearfix"><a class="on"><em>全部</em><span><input type="checkbox"/></span></a></li>
									<li class="clearfix"><a><em>毛衫</em><span><input type="checkbox"/></span></a></li>
									<li class="clearfix"><a><em>牛仔</em><span><input type="checkbox"/></span></a></li>
									<li class="clearfix"><a><em>皮革皮草</em><span><input type="checkbox"/></span></a></li>
									<li class="clearfix"><a><em>内衣/泳衣</em><span><input type="checkbox"/></span></a></li>
									<li class="clearfix"><a><em>婚纱/礼服</em><span><input type="checkbox"/></span></a></li>
									<li class="clearfix"><a><em>运动</em><span><input type="checkbox"/></span></a></li>
								</ul>
						    	<div class="clear"></div>
						    	<a class="queding-btn"><span>确定</span></a>
					        </div>
					        </div>				
				        </div>					    
						<div class="nav-lamu nav-screen fl">
							<ul class="clearfix">							
								<li class="fenge fy1 clearfix"><a>/</a></li>
								<li class="lmhover clearfix"><a href="index.html">首页<br/><span class="Sgray">HOME</span></a></li>
								<li class="lmhover cur clearfix"><a href="trend.html">趋势<br/><span class="Sgray">TRENDS</span></a></li>
								<li class="lmhover clearfix"><a href="analysis.html">潮流解析<br/><span class="Sgray">ANALYSIS</span></a></li>
								<li class="fenge clearfix"><a>/</a></li>
								<li class="lmhover clearfix"><a href="styles.html">款式库<br/><span class="Sgray">STYLES</span></a></li>
								<li class="lmhover clearfix"><a href="brand.html">品牌库<br/><span class="Sgray">BRANDS</span></a></li>
								<li class="lmhover clearfix"><a href="runways.html">T台发布<br/><span class="Sgray">RUNWAYS</span></a></li>
								<li class="fenge clearfix"><a>/</a></li>
								<li class="lmhover clearfix"><a href="book.html">刊物书店<br/><span class="Sgray">BOOKS</span></a></li>
								<li class="lmhover clearfix"><a href="references.html">设计素材<br/><span class="Sgray">REFERENCES</span></a></li>
								<li class="lmhover clearfix"><a href="inspiration_bg.html">灵感源<br/><span class="Sgray">INSPIRATION</span></a></li>
								<li class="fenge clearfix"><a>/</a></li>		
								<li class="lmhover lastLi clearfix"><a href="#">面料商城<br/><span class="Sgray">FABRIC MALL</span></a></li>
							</ul>
							<div class="nav-hover">
								<p></p>
								<span class="redjiant2"></span>
							</div>
					    </div>
					    
				    </div>
			   </div>
		   </div>
		</div>
	</div>	
	<div class="contant conheight">
		<div class="banner_wrap">
			<ul class="bannerbox">
				<li class="cur"><a href="javascript:;"><img src="../global/images/ny_banner.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="../global/images/ny_banner.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="../global/images/ny_banner.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="../global/images/ny_banner.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="../global/images/ny_banner.jpg" alt=""></a></li>
			</ul>
			<ol class="jiaobiao">
				<li class="cur"></li>
				<li class=""></li>
				<li class=""></li>
				<li class=""></li>
				<li class=""></li>
			</ol>
		</div>
		<div class="left_nav fl">
			<div class="leftcon">
				<div class="leftc_Top">
					<h3 class="neiye_icon trend">趋势 <span>Trends</span></h3>
					<div class="search_box">
						<input class="fl searInput" type="text" value="搜索你想要的趋势!">
						<input class="fr button neiyeList" type="button">
					</div>
					<p><span>热门地区：</span>纽约时装周&nbsp;&nbsp;纽约时装周&nbsp;&nbsp;纽约时装周</p>
				</div>
				<ul class="leftc_List">
					<li class="cur">
						<i></i>
						<a href="javascript:;">全部 / <span>All</span></a>
					</li>
					<li>
						<i></i>
						<a href="javascript:;">前瞻 / <span>Vision</span></a>
					</li>
					<li>
						<i></i>
						<a href="javascript:;">预测 / <span>Forecast</span></a>
					</li>
					<li>
						<i></i>
						<a href="javascript:;">企划 / <span>Design & Development</span></a>
					</li>
					<li>
						<i></i>
						<a href="javascript:;">关注 / <span>Capsules</span></a>
					</li>
				</ul>
				<div class="ad">
					<p><a href=""><img src="../global/images/ad1.jpg" alt=""></a></p>
					<p><a href=""><img src="../global/images/ad1.jpg" alt=""></a></p>
				</div>				
			</div>
		</div>
		<div class="right_nav fl">
			<div class="rightc_top w920">
				<div class="rightc_s">
					<ul class="paixu fl">
						<li>
							<a href="javascript:void(0);" class="nav_a">
								<em>单品</em>
								<i class="neiyeList"></i>
							</a>
							<div class="subMenu_t showbox wheelbox">
								<div class="allred"><a href="javascript:void(0);" data-para="0|0" data-pos="9">全部品类</a></div>
								 <div class="category_div contentHolder ps-container">
									<div class="content">
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Outerwearpop95Jacket|0" data-pos="9">外套夹克</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Outerwearpop95Jacket|Cape" data-pos="9">披肩</a>
												<a href="javascript:void(0);" data-para="Outerwearpop95Jacket|Casualpop95Outerwear" data-pos="9">休闲外套</a>
												<a href="javascript:void(0);" data-para="Outerwearpop95Jacket|Waistcoat" data-pos="9">马夹</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Coatpop95Windbreaker|0" data-pos="9">大衣/风衣</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Coatpop95Windbreaker|Windbreaker" data-pos="9">风衣（春秋）</a>
												<a href="javascript:void(0);" data-para="Coatpop95Windbreaker|Woolpop95Coat" data-pos="9">羊绒大衣（冬季）</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="CottonJacketpop95DownJacket|0" data-pos="9">棉服/羽绒服</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="CottonJacketpop95DownJacket|Cottonpop95Jacket" data-pos="9">棉服</a>
												<a href="javascript:void(0);" data-para="CottonJacketpop95DownJacket|Downpop95Jacket" data-pos="9">羽绒服</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Furpop95Leather|0" data-pos="9">皮草</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Allpop95Fur" data-pos="9">全毛</a>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Allpop95Leather" data-pos="9">皮衣</a>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Furpop95andpop95Leather" data-pos="9">皮毛结合</a>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Furpop95Leatherpop95Dress" data-pos="9">皮裙</a>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Lederhosen" data-pos="9">皮裤</a>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Nigeriapop95Overcome" data-pos="9">尼克服</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Tpop38shirt|0" data-pos="9">T恤</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Tpop38shirt|Camisole" data-pos="9">抹胸</a>
												<a href="javascript:void(0);" data-para="Tpop38shirt|Longpop38sleeved" data-pos="9">长袖</a>
												<a href="javascript:void(0);" data-para="Tpop38shirt|Polopop95Shirt" data-pos="9">马球衫</a>
												<a href="javascript:void(0);" data-para="Tpop38shirt|Shortpop38sleeved" data-pos="9">短袖</a>
												<a href="javascript:void(0);" data-para="Tpop38shirt|Vest" data-pos="9">背心/吊带</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Loverspop95Clothes|0" data-pos="9">情侣装</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Loverspop95Clothes|Loverspop95Clothes" data-pos="9">情侣装</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Knit|0" data-pos="9">毛衫</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Knit|Knitpop95Dress" data-pos="9">毛衣裙</a>
												<a href="javascript:void(0);" data-para="Knit|Longpop95Sleeve" data-pos="9">长袖</a>
												<a href="javascript:void(0);" data-para="Knit|Shortpop95Sleeve" data-pos="9">短袖</a>
												<a href="javascript:void(0);" data-para="Knit|Vest" data-pos="9">背心</a>
											</dd>
										</dl>
																		<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Shirt|0" data-pos="9">衬衫</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Shirt|Longpop38sleeved" data-pos="9">长袖衬衫</a>
												<a href="javascript:void(0);" data-para="Shirt|Shortpop38sleeved" data-pos="9">短袖衬衫</a>
												<a href="javascript:void(0);" data-para="Shirt|Vest" data-pos="9">背心</a>
												<a href="javascript:void(0);" data-para="Shirt|Infants" data-pos="9">娃娃装</a>
												<a href="javascript:void(0);" data-para="Shirt|Bracedpop95Shirt" data-pos="9">吊带衬衫</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Dress|0" data-pos="9">裙子</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Dress|Longpop38sleevedpop95Dress" data-pos="9">长袖连衣裙</a>
												<a href="javascript:void(0);" data-para="Dress|Shortpop38sleevedpop95Dress" data-pos="9">短袖/无袖连衣裙</a>
												<a href="javascript:void(0);" data-para="Dress|Skirt" data-pos="9">半身裙</a>
												<a href="javascript:void(0);" data-para="Dress|Sunpop95Dress" data-pos="9">吊带/抹胸连衣裙</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Bottoms|0" data-pos="9">裤子</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Bottoms|Croppedpop95Trousers" data-pos="9">中裤(6--9分)</a>
												<a href="javascript:void(0);" data-para="Bottoms|Jumpsuit" data-pos="9">连体裤</a>
												<a href="javascript:void(0);" data-para="Bottoms|Shorts" data-pos="9">短裤</a>
												<a href="javascript:void(0);" data-para="Bottoms|Suspenderpop95Trousers" data-pos="9">背带裤</a>
												<a href="javascript:void(0);" data-para="Bottoms|Trousers" data-pos="9">长裤</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Denim|0" data-pos="9">牛仔</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Denim|Croppedpop95Jeans" data-pos="9">牛仔中裤6-9分</a>
												<a href="javascript:void(0);" data-para="Denim|Denimpop95Dress" data-pos="9">牛仔裙子</a>
												<a href="javascript:void(0);" data-para="Denim|Denimpop95Jacket" data-pos="9">牛仔上衣外套</a>
												<a href="javascript:void(0);" data-para="Denim|Denimpop95Shorts" data-pos="9">牛仔短裤</a>
												<a href="javascript:void(0);" data-para="Denim|Denimpop95Skirt" data-pos="9">牛仔短裙</a>
												<a href="javascript:void(0);" data-para="Denim|Jeans" data-pos="9">牛仔长裤</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Sportswear|0" data-pos="9">运动装</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Sportswear|CottonDownpop95Jacket" data-pos="9">运动棉服羽绒</a>
												<a href="javascript:void(0);" data-para="Sportswear|Jersey" data-pos="9">运动T恤</a>
												<a href="javascript:void(0);" data-para="Sportswear|Skirt" data-pos="9">运动裙</a>
												<a href="javascript:void(0);" data-para="Sportswear|Skipop95Jacket" data-pos="9">滑雪衫</a>
												<a href="javascript:void(0);" data-para="Sportswear|Slacks" data-pos="9">运动裤</a>
												<a href="javascript:void(0);" data-para="Sportswear|Sportspop95Jacket" data-pos="9">运动外套</a>
												<a href="javascript:void(0);" data-para="Sportswear|Sportspop95Suit" data-pos="9">运动套装</a>
												<a href="javascript:void(0);" data-para="Sportswear|Thermalss" data-pos="9">保暖系列</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Knittingpop95Sportspop95Jacket|0" data-pos="9">卫衣</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Knittingpop95Sportspop95Jacket|Cardigan" data-pos="9">开衫卫衣</a>
												<a href="javascript:void(0);" data-para="Knittingpop95Sportspop95Jacket|Pullover" data-pos="9">套头卫衣</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Underwear|0" data-pos="9">内衣</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Underwear|Intimates" data-pos="9">情趣内衣</a>
												<a href="javascript:void(0);" data-para="Underwear|Suit" data-pos="9">套装式</a>
												<a href="javascript:void(0);" data-para="Underwear|Thermal" data-pos="9">大内衣</a>
												<a href="javascript:void(0);" data-para="Underwear|Top" data-pos="9">上衣</a>
												<a href="javascript:void(0);" data-para="Underwear|Underpants" data-pos="9">内裤</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Swimwear|0" data-pos="9">泳装</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Swimwear|Beachpop95Shirtpop95Dress" data-pos="9">沙滩衬衫裙</a>
												<a href="javascript:void(0);" data-para="Swimwear|Beachpop95Shorts" data-pos="9">沙滩裤</a>
												<a href="javascript:void(0);" data-para="Swimwear|Bikini" data-pos="9">分体泳装</a>
												<a href="javascript:void(0);" data-para="Swimwear|Onepop38piecepop95Swimpop95Suit" data-pos="9">连体泳装</a>
												<a href="javascript:void(0);" data-para="Swimwear|Swimmingpop95Trunks" data-pos="9">泳裤</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Loungepop95Wear|0" data-pos="9">家居服</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Loungepop95Wear|Maternitypop95Dress" data-pos="9">孕妇装</a>
												<a href="javascript:void(0);" data-para="Loungepop95Wear|Sleepwear" data-pos="9">睡衣</a>
											</dd>
										</dl>
									</div>
									<div class="obarpar">
										<span class="obar"></span>
									</div>									
								</div>
							</div>
						</li>

						<li>
							<a href="javascript:void(0);" class="nav_a">
								<em>地区</em>
								<i class="neiyeList"></i>
							</a>
							<div class="subMenu_t subMenu_dq showbox">
								<div class="allcc">
									<a href="" class="on">按大洲</a>|<a href="">按区域</a>
									<a href="" class="clearall fr">清除地区选择</a>
								</div>
								<div class="mingc">
									<div class="fl">
										<span>大洲名称：</span>
										<a href="#">美洲</a>
										<a href="#">美洲</a>
										<a href="#">美洲</a>
										<a href="#">美洲</a>
									</div>
									<div class="fr">
										<input class="fl searInput" type="text" value="请输入国家或城市的关键字">
										<input class="fr button neiyeList" type="button">
									</div>
								</div>
								<div class="allred"><a href="javascript:void(0);" >全部亚洲国家>></a></div>	
								 <div class="category_div contentHolder ps-container">
									<div class="content">
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Outerwearpop95Jacket|0" data-pos="9">外套夹克</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Outerwearpop95Jacket|Cape" data-pos="9">披肩</a>
												<a href="javascript:void(0);" data-para="Outerwearpop95Jacket|Casualpop95Outerwear" data-pos="9">休闲外套</a>
												<a href="javascript:void(0);" data-para="Outerwearpop95Jacket|Waistcoat" data-pos="9">马夹</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Coatpop95Windbreaker|0" data-pos="9">大衣/风衣</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Coatpop95Windbreaker|Windbreaker" data-pos="9">风衣（春秋）</a>
												<a href="javascript:void(0);" data-para="Coatpop95Windbreaker|Woolpop95Coat" data-pos="9">羊绒大衣（冬季）</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="CottonJacketpop95DownJacket|0" data-pos="9">棉服/羽绒服</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="CottonJacketpop95DownJacket|Cottonpop95Jacket" data-pos="9">棉服</a>
												<a href="javascript:void(0);" data-para="CottonJacketpop95DownJacket|Downpop95Jacket" data-pos="9">羽绒服</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Furpop95Leather|0" data-pos="9">皮草</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Allpop95Fur" data-pos="9">全毛</a>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Allpop95Leather" data-pos="9">皮衣</a>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Furpop95andpop95Leather" data-pos="9">皮毛结合</a>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Furpop95Leatherpop95Dress" data-pos="9">皮裙</a>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Lederhosen" data-pos="9">皮裤</a>
												<a href="javascript:void(0);" data-para="Furpop95Leather|Nigeriapop95Overcome" data-pos="9">尼克服</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Tpop38shirt|0" data-pos="9">T恤</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Tpop38shirt|Camisole" data-pos="9">抹胸</a>
												<a href="javascript:void(0);" data-para="Tpop38shirt|Longpop38sleeved" data-pos="9">长袖</a>
												<a href="javascript:void(0);" data-para="Tpop38shirt|Polopop95Shirt" data-pos="9">马球衫</a>
												<a href="javascript:void(0);" data-para="Tpop38shirt|Shortpop38sleeved" data-pos="9">短袖</a>
												<a href="javascript:void(0);" data-para="Tpop38shirt|Vest" data-pos="9">背心/吊带</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Loverspop95Clothes|0" data-pos="9">情侣装</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Loverspop95Clothes|Loverspop95Clothes" data-pos="9">情侣装</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Knit|0" data-pos="9">毛衫</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Knit|Knitpop95Dress" data-pos="9">毛衣裙</a>
												<a href="javascript:void(0);" data-para="Knit|Longpop95Sleeve" data-pos="9">长袖</a>
												<a href="javascript:void(0);" data-para="Knit|Shortpop95Sleeve" data-pos="9">短袖</a>
												<a href="javascript:void(0);" data-para="Knit|Vest" data-pos="9">背心</a>
											</dd>
										</dl>
																		<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Shirt|0" data-pos="9">衬衫</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Shirt|Longpop38sleeved" data-pos="9">长袖衬衫</a>
												<a href="javascript:void(0);" data-para="Shirt|Shortpop38sleeved" data-pos="9">短袖衬衫</a>
												<a href="javascript:void(0);" data-para="Shirt|Vest" data-pos="9">背心</a>
												<a href="javascript:void(0);" data-para="Shirt|Infants" data-pos="9">娃娃装</a>
												<a href="javascript:void(0);" data-para="Shirt|Bracedpop95Shirt" data-pos="9">吊带衬衫</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Dress|0" data-pos="9">裙子</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Dress|Longpop38sleevedpop95Dress" data-pos="9">长袖连衣裙</a>
												<a href="javascript:void(0);" data-para="Dress|Shortpop38sleevedpop95Dress" data-pos="9">短袖/无袖连衣裙</a>
												<a href="javascript:void(0);" data-para="Dress|Skirt" data-pos="9">半身裙</a>
												<a href="javascript:void(0);" data-para="Dress|Sunpop95Dress" data-pos="9">吊带/抹胸连衣裙</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Bottoms|0" data-pos="9">裤子</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Bottoms|Croppedpop95Trousers" data-pos="9">中裤(6--9分)</a>
												<a href="javascript:void(0);" data-para="Bottoms|Jumpsuit" data-pos="9">连体裤</a>
												<a href="javascript:void(0);" data-para="Bottoms|Shorts" data-pos="9">短裤</a>
												<a href="javascript:void(0);" data-para="Bottoms|Suspenderpop95Trousers" data-pos="9">背带裤</a>
												<a href="javascript:void(0);" data-para="Bottoms|Trousers" data-pos="9">长裤</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Denim|0" data-pos="9">牛仔</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Denim|Croppedpop95Jeans" data-pos="9">牛仔中裤6-9分</a>
												<a href="javascript:void(0);" data-para="Denim|Denimpop95Dress" data-pos="9">牛仔裙子</a>
												<a href="javascript:void(0);" data-para="Denim|Denimpop95Jacket" data-pos="9">牛仔上衣外套</a>
												<a href="javascript:void(0);" data-para="Denim|Denimpop95Shorts" data-pos="9">牛仔短裤</a>
												<a href="javascript:void(0);" data-para="Denim|Denimpop95Skirt" data-pos="9">牛仔短裙</a>
												<a href="javascript:void(0);" data-para="Denim|Jeans" data-pos="9">牛仔长裤</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Sportswear|0" data-pos="9">运动装</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Sportswear|CottonDownpop95Jacket" data-pos="9">运动棉服羽绒</a>
												<a href="javascript:void(0);" data-para="Sportswear|Jersey" data-pos="9">运动T恤</a>
												<a href="javascript:void(0);" data-para="Sportswear|Skirt" data-pos="9">运动裙</a>
												<a href="javascript:void(0);" data-para="Sportswear|Skipop95Jacket" data-pos="9">滑雪衫</a>
												<a href="javascript:void(0);" data-para="Sportswear|Slacks" data-pos="9">运动裤</a>
												<a href="javascript:void(0);" data-para="Sportswear|Sportspop95Jacket" data-pos="9">运动外套</a>
												<a href="javascript:void(0);" data-para="Sportswear|Sportspop95Suit" data-pos="9">运动套装</a>
												<a href="javascript:void(0);" data-para="Sportswear|Thermalss" data-pos="9">保暖系列</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Knittingpop95Sportspop95Jacket|0" data-pos="9">卫衣</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Knittingpop95Sportspop95Jacket|Cardigan" data-pos="9">开衫卫衣</a>
												<a href="javascript:void(0);" data-para="Knittingpop95Sportspop95Jacket|Pullover" data-pos="9">套头卫衣</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Underwear|0" data-pos="9">内衣</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Underwear|Intimates" data-pos="9">情趣内衣</a>
												<a href="javascript:void(0);" data-para="Underwear|Suit" data-pos="9">套装式</a>
												<a href="javascript:void(0);" data-para="Underwear|Thermal" data-pos="9">大内衣</a>
												<a href="javascript:void(0);" data-para="Underwear|Top" data-pos="9">上衣</a>
												<a href="javascript:void(0);" data-para="Underwear|Underpants" data-pos="9">内裤</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Swimwear|0" data-pos="9">泳装</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Swimwear|Beachpop95Shirtpop95Dress" data-pos="9">沙滩衬衫裙</a>
												<a href="javascript:void(0);" data-para="Swimwear|Beachpop95Shorts" data-pos="9">沙滩裤</a>
												<a href="javascript:void(0);" data-para="Swimwear|Bikini" data-pos="9">分体泳装</a>
												<a href="javascript:void(0);" data-para="Swimwear|Onepop38piecepop95Swimpop95Suit" data-pos="9">连体泳装</a>
												<a href="javascript:void(0);" data-para="Swimwear|Swimmingpop95Trunks" data-pos="9">泳裤</a>
											</dd>
										</dl>
										<dl class="category_dl clearfix">
											<dt><a href="javascript:void(0);" data-para="Loungepop95Wear|0" data-pos="9">家居服</a></dt>
											<dd>
												<a href="javascript:void(0);" data-para="Loungepop95Wear|Maternitypop95Dress" data-pos="9">孕妇装</a>
												<a href="javascript:void(0);" data-para="Loungepop95Wear|Sleepwear" data-pos="9">睡衣</a>
											</dd>
										</dl>
									</div>
									<div class="obarpar">
										<span class="obar"></span>
									</div>
								</div>
							</div>
						</li>						
						<li>
							<a href="javascript:void(0);" class="nav_a">
								<em>流行时间</em>
								<i class="neiyeList"></i>
							</a>
							<div class="showbox sum">
								<a href="javascript:void(0);">全部季节</a>
								<a href="javascript:void(0);">2016春夏</a>
								<a href="javascript:void(0);">1516秋冬</a>
								<a href="javascript:void(0);">2015春夏</a>
							</div>
						</li>
					</ul>
					<div class="lm_shaixuan fl">
						<span class="tit">栏目筛选：</span>
						<ul class="sx_a">
							<li class="ali">
								<span class="aspan">品牌</span>
								<div class="subMenu_t showPro showdiv" style="height:500px;">
									<div class="allred"><a href="javascript:void(0);" data-para="0" data-pos="7">全部品牌</a></div>
									<div class="brands_ca">
										<div class="items">
											<div class="letter" name="0-9">0-9</div>
											<div class="brandslist">
												<div class="inputBox"><input type="text" class="searInputbox fl" value="搜索0-9开头的品牌" name="0-9" style="color: rgb(148, 147, 147);"><span class="fr neiyeList"></span>
												</div>
												<div class="brand_result contentHolder">
													<div class="content">
														<ul class="clearfix" id="popBrand_0-9">
															<li>
																<a href="/?c=search&amp;p=ct-s-0-0-0-0-184551-0-0-0-0-0" title="08sircus">08sircus</a>
															</li>
															<li><a href="/?c=search&amp;p=ct-s-0-0-0-0-191035-0-0-0-0-0" title="09WOMEN">09WOMEN</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>	
									</div>
								</div>
							</li>							
							<li class="ali">
								<span  class="aspan">客群</span>
								<div class="showdiv">
									<a href="javascript:;">欧美品牌</a>
									<a href="javascript:;">国内名品</a>
									<a href="javascript:;">国外热销</a>
									<a href="javascript:;">国内热销</a>
									<a href="javascript:;">欧美品牌</a>						         
								</div>
							</li>
							<li class="ali">
								<span  class="aspan">客群</span>
								<div class="showdiv">
									<a href="javascript:;">欧美品牌</a>
									<a href="javascript:;">国内名品</a>
									<a href="javascript:;">国外热销</a>
									<a href="javascript:;">国内热销</a>
									<a href="javascript:;">欧美品牌</a>
									<a href="javascript:;">国内名品</a>
									<a href="javascript:;">国外热销</a>
									<a href="javascript:;">欧美品牌</a>
									<a href="javascript:;">国内名品</a>
									<a href="javascript:;">国外热销</a>
									<a href="javascript:;">国内热销</a>
									<a href="javascript:;">欧美品牌</a>
									<a href="javascript:;">国内名品</a>
									<a href="javascript:;">国外热销</a>
									<a href="javascript:;">欧美品牌</a>
									<a href="javascript:;">国内名品</a>
									<a href="javascript:;">国外热销</a>
									<a href="javascript:;">国内热销</a>
									<a href="javascript:;">欧美品牌</a>
									<a href="javascript:;">国内名品</a>
									<a href="javascript:;">国外热销</a>
									<a href="javascript:;">国内热销</a>	
									<a href="javascript:;">国内热销</a>	
									<a href="javascript:;">国内热销</a>							         
								</div>
							</li>
						</ul>
															
					</div>
				</div>
				<div class="keycho">
	                <span class="yixz">您已选择：</span>
	                 <div class="keyWord">
	                    <a class="keyW fl" href="javascript:void(0);" title="民族中东凤">民族中东凤</a>
	                    <i class="fl"></i>
	                </div>
	                 <div class="keyWord">
	                    <a class="keyW fl" href="javascript:void(0);" title="民族中东凤">民族中东凤</a>
	                    <i class="fl"></i>
	                </div>
	             	<a class="delefilter" href="javascript:void(0);">清除全部</a>
	    		</div>
	    		<div class="shaixuan_wid">
	                <div class="shaixuan_category">               
	                    <div class="category_num">
	                        <a class="cat_update" href="javascript:void(0);" data-para="ct" data-pos="1">更新时间<span ></span></a>
	                        <a class="cat_liulan " href="javascript:void(0);" data-para="vc" data-pos="1">浏览量<span></span></a>
	                        <a class="cat_shoucang " href="javascript:void(0);" data-para="cc" data-pos="1">收藏量<span></span></a>
	                    </div>
	                    <div class="updateTime">
	                        <a class="updateTitle"><em class="fl"></em>时间范围<span></span></a>
	                        <div class="chotime">
	                            <a href="javascript:void(0);" data-para="7" data-pos="3">近7日</a>
	                            <a href="javascript:void(0);" data-para="30" data-pos="3">近30日</a>
	                            <a href="javascript:void(0);" data-para="180" data-pos="3">近半年</a>
	                            <a href="javascript:void(0);" data-para="0" data-pos="3">不限</a>
	                        </div>
	                    </div>
	                    
	                    <div class="fr clearfix" id="s_result">
	                        <p class="findstyle">共找到 <a>9910</a> 个相关款式</p>
	                        <div class="btn_page"><a class="leftBtn neiyeList" href="javascript:"></a><span class="pageN">1</span>/<span class="totalN">207</span><a class="rightBtn neiyeList" href="/?c=search&amp;p=ct-s-0-0-0-0-0-Coatpop95Windbreaker-Windbreaker-0-0-0&amp;page=2"></a></div>                    
	                    </div>                           
	                </div>
	            </div>
            </div>
            <div class="rightc_main w920">
            	<ul class="trend clearfix">
            		<li>
            			<a href="">
            				<img src="../global/images/img01.jpg" alt="">
            				<div class="topIcon">T台</div>
            				<div class="cenIcon showdiv"></div>
            				<div class="cenIconText showdiv">
								<div class="tit">
									<span>前 瞻</span>
									<strong>VISION</strong>
								</div>
								<p class="textDetail">得益于加勒比海滨城市葱茏生长的热带植物，亡探寻沙滩酒吧的年夜得益于加勒比得益于加勒比海滨城市葱茏生长的热带植物，亡探寻沙滩酒吧的年夜得益于加勒比滨城市葱茏生吧的年夜得益于加勒比得益于加勒比海滨城市葱茏生长的热带植物，亡探寻沙滩酒吧的年夜得益于加勒比</p>
            				</div>            				
            			</a>
            			<div class="text_down">
	            			<p class="title">韩国女装设计主题--简约搭配</p>
	            			<p class="time">
	            				<span class="fl"><img src="../global/images/zzjd_02.png" alt="">2016-01-28</span> 
	            				<span class="fr"><img src="../global/images/zzjd_03.png" alt="">浏览（<i>1454</i>）</span>
	            			</p>
            			</div>            			
            		</li>
            		<li>
            			<a href="">
            				<img src="../global/images/img01.jpg" alt="">
            				<div class="topIcon">T台</div>
            				<div class="cenIcon showdiv"></div>
            				<div class="cenIconText showdiv">
								<div class="tit">
									<span>前 瞻</span>
									<strong>VISION</strong>
								</div>
								<p class="textDetail">得益于加勒比海滨城市葱茏生长的热带植物，亡探寻沙滩酒吧的年夜得益于加勒比得益于加勒比海滨城市葱茏生长的热带植物，亡探寻沙滩酒吧的年夜得益于加勒比滨城市葱茏生吧的年夜得益于加勒比得益于加勒比海滨城市葱茏生长的热带植物，亡探寻沙滩酒吧的年夜得益于加勒比</p>
            				</div>            				
            			</a>
            			<div class="text_down">
	            			<p class="title">韩国女装设计主题--简约搭配</p>
	            			<p class="time">
	            				<span class="fl"><img src="../global/images/zzjd_02.png" alt="">2016-01-28</span> 
	            				<span class="fr"><img src="../global/images/zzjd_03.png" alt="">浏览（<i>1454</i>）</span>
	            			</p>
            			</div>            			
            		</li>
            		<li>
            			<a href="">
            				<img src="../global/images/img01.jpg" alt="">
            				<div class="topIcon">T台</div>
            				<div class="cenIcon showdiv"></div>
            				<div class="cenIconText showdiv">
								<div class="tit">
									<span>前 瞻</span>
									<strong>VISION</strong>
								</div>
								<p class="textDetail">得益于加勒比海滨城比</p>
            				</div>            				
            			</a>
            			<div class="text_down">
	            			<p class="title">韩国女装设计主题--简约搭配</p>
	            			<p class="time">
	            				<span class="fl"><img src="../global/images/zzjd_02.png" alt="">2016-01-28</span> 
	            				<span class="fr"><img src="../global/images/zzjd_03.png" alt="">浏览（<i>1454</i>）</span>
	            			</p>
            			</div>           			
            		</li>
            		<li>
            			<a href="">
            				<img src="../global/images/img01.jpg" alt="">
            				<div class="topIcon">T台</div>
            				<div class="cenIcon showdiv"></div>
            				<div class="cenIconText showdiv">
								<div class="tit">
									<span>前 瞻</span>
									<strong>VISION</strong>
								</div>
								<p class="textDetail">得益于加勒比得益于加勒比海滨城比得益于加勒比海滨城比得益于加勒比海滨城比得益于加勒比海滨城比海滨城比</p>
            				</div>            				
            			</a>
            			<div class="text_down">
	            			<p class="title">韩国女装设计主题--简约搭配</p>
	            			<p class="time">
	            				<span class="fl"><img src="../global/images/zzjd_02.png" alt="">2016-01-28</span> 
	            				<span class="fr"><img src="../global/images/zzjd_03.png" alt="">浏览（<i>1454</i>）</span>
	            			</p>
            			</div>           			
            		</li>
            	</ul>
            </div>
            <div class="rightc_bottom w920">
            	<div class="pages">
            		<a class="prevPage" href="" title=""></a>
            		<a href="/?c=search&amp;p=ct-s-0-0-0-0-0-Knit-0-0-0-0&amp;page=1" title="第1页">1</a><a href="/?c=search&amp;p=ct-s-0-0-0-0-0-Knit-0-0-0-0&amp;page=2" title="第2页">2</a><span class="hov">3</span>
            		<a href="/?c=search&amp;p=ct-s-0-0-0-0-0-Knit-0-0-0-0&amp;page=4" title="第4页">4</a><a href="/?c=search&amp;p=ct-s-0-0-0-0-0-Knit-0-0-0-0&amp;page=5" title="第5页">5</a><span class="ellipsis">...</span>
            		<a href="/?c=search&amp;p=ct-s-0-0-0-0-0-Knit-0-0-0-0&amp;page=504" title="总共504页">504</a>
            		<a class="nextPage" href="/?c=search&amp;p=ct-s-0-0-0-0-0-Knit-0-0-0-0&amp;page=4" title="第4页"></a>
            		<input type="text" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" id="J_GoPage" value="3">
            		<a onclick="javascript:goPage();" href="javascript:" class="goBtn">跳转</a>
            	</div>
            </div>
		</div>
	</div>
	<div class="footer">
		<div class="map">
			<div class="contentW">
				<div class="fl">
					<div class="tel">
						<span></span>
						<p class="telNum">4008-210-500<em>（售前）</em><br/>
						4008-210-662<em>（售后）</em></p>
					</div>
					<div class="clear"></div>
					<p class="tTime">服饰流行前线客服热线<br/>周一至周日：09:00-22:00</p>
				</div>
				<div class="catList fl">
					<dl>
						<dt>趋势</dt>
						<dd><a href="">前瞻</a></dd>
						<dd><a href="">预测</a></dd>
						<dd><a href="">企划</a></dd>
						<dd><a href="">关注</a></dd>
					</dl>
					<dl class="mainT">
						<dt>潮流解析</dt>
						<dd><a href="">T台分析</a></dd>
						<dd><a href="">展会分析</a></dd>
						<dd><a href="">订货会分析</a></dd>
						<dd><a href="">批发市场分析</a></dd>
						<dd><a href="">线上分析(电商)</a></dd>
						<dd><a href="">线下(实体)</a></dd>
						
					</dl>
					<dl class="fenK">
						<dd><a href="">店铺形象</a></dd>
						<dd><a href="">行业报道</a></dd>
						<dd><a href="">街拍分析</a></dd>
						<dd><a href="">潮流领袖</a></dd>
					</dl>
					<dl>
						<dt>款式库</dt>
						<dd><a href="">T台款式</a></dd>
						<dd><a href="">展会</a></dd>
						<dd><a href="">订货会</a></dd>
						<dd><a href="">线上分析</a></dd>
						<dd><a href="">线下分析</a></dd>
						<dd><a href="">街拍</a></dd>
						<dd><a href="">潮流领袖</a></dd>
						
					</dl>
					<dl>
						<dt>T台发布</dt>
						<dd><a href="">巴黎时装周</a></dd>
						<dd><a href="">纽约时装周</a></dd>
						<dd><a href="">米兰时装周</a></dd>
						<dd><a href="">伦敦时装周</a></dd>
					</dl>
					<dl>
						<dt>刊物书店</dt>
						<dd><a href="">书店</a></dd>
						<dd><a href="">lookbook</a></dd>
						<dd><a href="">单品合集</a></dd>
						<dd><a href="">矢量书稿</a></dd>
					</dl>
					<dl>
						<dt>设计素材</dt>
						<dd><a href="">款式模板(矢量图)</a></dd>
						<dd><a href="">款式细节</a></dd>
						<dd><a href="">图案素材</a></dd>
						<dd><a href="">面料</a></dd>
						<dd><a href="">服饰品</a></dd>
						<dd><a href="">店铺陈列</a></dd>
						
					</dl>
					<dl>
						<dt>灵感源</dt>
						<dd><a href="">艺术</a></dd>
						<dd><a href="">设计</a></dd>
						<dd><a href="">旅行</a></dd>
						<dd><a href="">生活</a></dd>
						<dd><a href="">复古</a></dd>
						<dd><a href="">灵感报告</a></dd>
						<dd><a href="">灵感图库</a></dd>
					</dl>
				</div>
				<div class="fr">
					<div class="erwm">
						<p>官方微信服务号</p>
						<img src="../global/images/erwm.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="log-ico">
		    <div class="contentW">
		    	<ul>
		    		<li><a class="pop" href="" target="_blank"></a></li>
		    		<li><a class="pbag" href="" target="_blank"></a></li>
		    		<li><a class="pshoe" href="" target="_blank"></a></li>
		    		<li><a class="pshous" href="" target="_blank"></a></li>
		    		<li><a class="pjiaf" href="" target="_blank"></a></li>
		    	</ul>
		    	<div class="aboutPop">
		    	    <div>
		    		<a href="/about.html" target="_blank">关于我们</a>|<a href="http://www.pop136.com/contact_us.php" target="_blank">联系我们</a>|<a href="/friend_link.html" target="_blank">友情链接</a>|<a href="http://www.pop136.com/fuwu.php" target="_blank">帮助中心</a>|<a href="http://www.pop136.com/join_us.php" target="_blank">诚聘英才</a>|<a href="http://www.pop136.com/declaration.php" target="_blank">法律声明</a>|<a href="http://www.pop136.com/member_law.php" target="_blank">会员须知</a>|<a href="http://www.pop136.com/service.php" target="_blank">收费一览</a>|<a href="http://www.pop136.com/pay.php" target="_blank">付款方式</a>|<a href="/sitemap.html" target="_blank">网站地图</a>|<a href="http://www.pop136.com/guanggao.php" target="_blank">广告中心</a>
		    		</div>
		    		<p>上海逸尚云联信息技术股份有限公司 &copy; 2004-2020<span>法律顾问：北京中银（上海）律师事务所 沪ICP备06003020号-1</span></p>
		    	</div>
		    </div>			
		</div>
	</div>

</body>
</html>